.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 9.7rem;
  z-index: 100;
  background-color: white;
  padding: 2.6rem 0;
  transition: background 0.3s ease, backdrop-filter 0.3s ease;
   

  &.scrolled {
    background: rgba(20, 20, 30, 0.8);
    backdrop-filter: blur(10px);
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    font-family: var(--font-heading);
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    background: linear-gradient(90deg, #176ed1, #1e2a38, #4a4a4a);
     background-size: 200%;
     background-clip: text;
    -webkit-background-clip: text;
     color: transparent;
     -webkit-text-fill-color: transparent;
      animation: moveGradient 4s linear infinite;
  }

  &__links {
    display: flex;
    align-items: center;
    gap: 3rem;
    list-style: none;

    @media only screen and (max-width: 62.5em) {
      flex-direction: column;
    }
  }

  &__link  {
    &:link,
    &:visited,
    &:active {
    color: var(--text)!important;
    font-size: 1.6rem;
    font-weight: 600;
    text-decoration: none;
    position: relative;
    transition: transform color 0.3s;
    padding: 1rem 1.8rem;
    border: 1px solid var(--primary); 
    border-radius: 9px;
    transition: all .3s ease-in-out; 
    
    &:hover{
    transform: translateY(3px);
    box-shadow: var(--shadow-4);
  }

     @media only screen and (max-width: 62.5em) {
      color: white!important;
      font-size: 2.5rem;
    }
    }

    &:hover{
       border-color: transparent;
       color: black!important;

        @media only screen and (max-width: 62.5em) {
        color: white!important;
    }
    }
  }

  &__cta{
    &:link,
    &:visited,
    &:active {
    margin-left: 2rem!important;
    color: white!important;
    transition: all .3s ease-in-out!important;
    padding: 1rem 3rem!important; 

    @media only screen and (max-width:62.5em){
       background-color: white;
       color: var(--primary)!important;
    }
  }

  &:hover{
       color: black!important;
       transform: translateX(5px)!important;
        box-shadow: 0 .5rem 0.3rem #000!important;
        background-color: none!important;
    }
}
}



/*************MOBILE NAV********************/
    @media only screen and (max-width: 62.5em) {
      .header__overlay{
         position: fixed;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         opacity: 0;
         pointer-events: none;
         visibility: hidden;
         transform: translateY(-100%);
         background-color: rgba(0,0,0, 0.75);
         backdrop-filter: blur(5px);
         transition: all 0.3s ease-in-out;
         z-index: 1000;
  }  
    }


    
    @media only screen and (max-width: 62.5em) {
    .header__nav{
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 70vh;
      // background-color: var(--primary);
       background-color: rgba(30,40,56, 0.7);
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.5s ease;
      transform: translateY(-100%); // hidden offscreen
      z-index: 1001;

      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
    }  

    // When .nav-open is on .header
  @media only screen and (max-width: 62.5em) {
    .nav-open {
      .header__overlay {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
      }

      .header__nav {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
      }
    }
}

